.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

.dot {
    stroke: #000;
}

.frame {
    fill: none;
    stroke: #000;
}

#top {
    stroke: rgb(189, 189, 189);
}